@import "tailwindcss";

@font-face {
  font-family: "kookiran";
  src: url("../../public/font/kookiran.woff") format("woff");
}

body {
  font-family: "kookiran", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
