@import "tailwindcss";
@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-Thin-B3kNNEqL.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-UltraLight-T64OGaPz.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-Light-C1K6kEyq.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-Regular-NJOSFezJ.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-Medium-DtIGUAVZ.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-DemiBold-DOu07JpD.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-Bold-DnKohisb.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-Heavy-C9uu13u5.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("/font/IRANYekanXFaNum-ExtraBlack-ChhGgIQc.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Parastoo";
  src: url("/font/Parastoo-DHXDC03Y.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "IRANYekanXFaNum", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
